<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902218937548-cagffm3cfoqu19brrlm6ma6p184cj035.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902218937548-cagffm3cfoqu19brrlm6ma6p184cj035</string>
	<key>API_KEY</key>
	<string>AIzaSyDRjnzk7c2INZvIhx8sgrEgB6sHH8hRHfM</string>
	<key>GCM_SENDER_ID</key>
	<string>902218937548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oblivionmgd.mirsctrl</string>
	<key>PROJECT_ID</key>
	<string>mirs2004ctrl</string>
	<key>STORAGE_BUCKET</key>
	<string>mirs2004ctrl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902218937548:ios:1a44c0596b31fa0e00be69</string>
	<key>DATABASE_URL</key>
	<string>https://mirs2004ctrl.firebaseio.com</string>
</dict>
</plist>